@import 
url(https://fonts.googleapis.com/css?family=Open+Sans);
/* @import '~bootstrap/scss/bootstrap'; */

.app {
  font-family:  "Microsoft Yahei", "微軟正黑體", sans-serif;
}

/*header*/
.header{
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: #00688B;
  padding: 5px;
}
.header h1{
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  color: #FFF;
}

/*search*/
.search{
  width: 100%;
  position: relative;
  height: 4.5rem;
  margin-bottom: 40px;
}
.search input{
  margin-top: 20px;
  width: 258px;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}
.search input:focus{
  color: black;
}
.search button{
  margin-left: -9px;
  margin-top: 20px;
  position: absolute;  
  /* right: -50px; */
  width: 100px;
  height: 2rem;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: red;  /*red無效，route-link預設為藍色，直接在link style設定*/
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}
.searchButton i{
  font-size: 20px;
}

/*home*/
.home {
  background-color: #DCDCDC;
  padding: 10px;
  padding-top: 20px;
}

/*repos*/
.resultList {
  background-color: #dbd4d4e0;
  padding: 5px;
  margin: 5px;
}

/*single repo*/
.repo {
  padding: 10px 0;
  background-color: #dbd4d4e0;
}

.repo p{
  padding: 25px;
}

.repo a{
  padding: 25px;
}

/*2021 grid*/
@media only screen and (max-width: 650px) {
  .App {
    overflow: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 2px 1fr 2px;
    grid-row-gap: 2em;
  }
  div.wrapper {
    margin-right: 10%;
}
  #header h1{
    width: auto;
    grid-column: 1/4;
  }
  div#search-bar {
   width: 80%;
  }
}